/* ResultPage.css */
.result-container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  
  .h2 {
    color: #fcf8f8;
    margin-bottom: 10px;
    margin-top: 5cm;
    background-color: #ff5722;
    
  }
  
  .p {
    margin-top: 10px;
    font-size: 18px;
    color: #f1f0f0;
    background-color: #ff5722;
    font-weight: bold;
  }
  
  .result-text {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #4caf50; /* Green color for accomplishment */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Text shadow for emphasis */
    padding: 15px;
    border-radius: 8px;
    background-color: #f8f8f8; /* Light background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
  }
  
  /* Additional styling for motivation text */
  .result-text.motivation {
    color: #ff5722; /* Orange color for motivation */
  }
  